*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  place-items: center;
}

button {
  margin: 0;
  padding: 0;
  appearance: none;
  border: 1px solid white;
  background-color: gray;
  width: 50px;
  height: 50px;
  line-height: 1;
  font-size: 2rem;
  cursor: pointer;
}

.board {
  display: flex;
  flex-direction: column;
}

.board-row {
  display: flex;
}
